.image-container[data-v-1b0306e3]{border:1px solid #c5c5c5;border-radius:5px;height:10rem;overflow:hidden;width:100%}@media only screen and (max-width:550px){.image-container[data-v-1b0306e3]{height:8rem!important}}
