.image-container[data-v-68908076]{border:1px solid #c5c5c5;border-radius:5px;height:10rem;overflow:hidden;width:100%}@media only screen and (max-width:550px){.image-container[data-v-68908076]{height:8rem!important}}
