/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled {
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-nowrap {
  text-wrap: nowrap;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-btn--size-default {
  --v-btn-size: 1rem !important;
}

.un-select {
  user-select: none;
}

.flex-1 {
  flex: 1;
}

.font-bold {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer !important;
  user-select: none !important;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.sticky {
  position: sticky;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.v-btn {
  text-transform: none !important;
}

.v-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.b-radius-1 {
  border-radius: 6px;
}

.b-radius-2 {
  border-radius: 10px;
}

.b-radius-1rem {
  border-radius: 1rem;
}

.b-radius-2rem {
  border-radius: 2rem;
}

.b-radius-3rem {
  border-radius: 3rem;
}

.border-1 {
  border: 1px solid #ddd;
}

.border-2 {
  border: 2px solid #ddd;
}

.border-d-1 {
  border: 1px dashed #ddd;
}

.border-d-2 {
  border: 2px dashed #ddd;
}

.w-1rem {
  width: 1rem;
}

.w-2rem {
  width: 2rem;
}

.w-3rem {
  width: 3rem;
}

.w-4rem {
  width: 4rem;
}

.w-5rem {
  width: 5rem;
}

.w-6rem {
  width: 6rem;
}

.w-7rem {
  width: 7rem;
}

.w-8rem {
  width: 8rem;
}

.w-9rem {
  width: 9rem;
}

.w-10rem {
  width: 10rem;
}

.w-11rem {
  width: 11rem;
}

.w-12rem {
  width: 12rem;
}

.w-13rem {
  width: 13rem;
}

.w-14rem {
  width: 14rem;
}

.w-15rem {
  width: 15rem;
}

.w-16rem {
  width: 16rem;
}

.w-17rem {
  width: 17rem;
}

.w-18rem {
  width: 18rem;
}

.w-19rem {
  width: 19rem;
}

.w-20rem {
  width: 20rem;
}

.w-21rem {
  width: 21rem;
}

.w-22rem {
  width: 22rem;
}

.w-23rem {
  width: 23rem;
}

.w-24rem {
  width: 24rem;
}

.w-25rem {
  width: 25rem;
}

.w-26rem {
  width: 26rem;
}

.w-27rem {
  width: 27rem;
}

.w-28rem {
  width: 28rem;
}

.w-29rem {
  width: 29rem;
}

.w-30rem {
  width: 30rem;
}

.w-31rem {
  width: 31rem;
}

.w-32rem {
  width: 32rem;
}

.w-33rem {
  width: 33rem;
}

.w-34rem {
  width: 34rem;
}

.w-35rem {
  width: 35rem;
}

.w-36rem {
  width: 36rem;
}

.w-37rem {
  width: 37rem;
}

.w-38rem {
  width: 38rem;
}

.w-39rem {
  width: 39rem;
}

.w-40rem {
  width: 40rem;
}

.h-1rem {
  height: 1rem;
}

.h-2rem {
  height: 2rem;
}

.h-3rem {
  height: 3rem;
}

.h-4rem {
  height: 4rem;
}

.h-5rem {
  height: 5rem;
}

.h-6rem {
  height: 6rem;
}

.h-7rem {
  height: 7rem;
}

.h-8rem {
  height: 8rem;
}

.h-9rem {
  height: 9rem;
}

.h-10rem {
  height: 10rem;
}

.h-11rem {
  height: 11rem;
}

.h-12rem {
  height: 12rem;
}

.h-13rem {
  height: 13rem;
}

.h-14rem {
  height: 14rem;
}

.h-15rem {
  height: 15rem;
}

.h-16rem {
  height: 16rem;
}

.h-17rem {
  height: 17rem;
}

.h-18rem {
  height: 18rem;
}

.h-19rem {
  height: 19rem;
}

.h-20rem {
  height: 20rem;
}

.h-21rem {
  height: 21rem;
}

.h-22rem {
  height: 22rem;
}

.h-23rem {
  height: 23rem;
}

.h-24rem {
  height: 24rem;
}

.h-25rem {
  height: 25rem;
}

.h-26rem {
  height: 26rem;
}

.h-27rem {
  height: 27rem;
}

.h-28rem {
  height: 28rem;
}

.h-29rem {
  height: 29rem;
}

.h-30rem {
  height: 30rem;
}

.h-31rem {
  height: 31rem;
}

.h-32rem {
  height: 32rem;
}

.h-33rem {
  height: 33rem;
}

.h-34rem {
  height: 34rem;
}

.h-35rem {
  height: 35rem;
}

.h-36rem {
  height: 36rem;
}

.h-37rem {
  height: 37rem;
}

.h-38rem {
  height: 38rem;
}

.h-39rem {
  height: 39rem;
}

.h-40rem {
  height: 40rem;
}
