@import "./base.css";
@import "plyr/dist/plyr.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100..900&family=Righteous&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #eef5fd;
}

body.lang-la {
  font-family: "Noto Sans Lao Looped", sans-serif !important;
}

.v-breadcrumbs--density-default {
  padding: 0 !important;
}

.text-active {
  color: #3974af !important;
}

.cta-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: #0984e3;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  transition: opacity 0.3s ease;
  user-select: none;
}

.cta-button:hover {
  opacity: 0.9;
}

.v-breadcrumbs--density-default {
  padding: 0 !important;
}

.v-data-table__th {
  text-wrap: nowrap !important;
  background-color: rgb(223, 223, 223) !important;
}

.v-data-table__th {
  text-wrap: nowrap !important;
  background-color: rgb(223, 223, 223) !important;
}

.v-toolbar__content {
  height: 60px !important;
}

.v-toolbar__content > .v-toolbar-title {
  margin-inline-start: 16px !important;
}

.ql-toolbar.ql-snow {
  background-color: #bdbdbd61 !important;
}

.ql-container.ql-snow {
  border: 1px solid #00000061 !important;
}

.ql-editor img {
  width: 80% !important;
}

.v-menu__content,
.menuable__content__active,
.v-dialog__content,
.v-overlay {
  z-index: 999999 !important;
}

@media (max-width: 600px) {
  .cta-button {
    padding: 0.6rem 1rem !important;
  }
}
